{% extends 'store/main.html' %}
{% load static %}
{% block content %}
 <h3> __________________About us!__________________</h3>
  <link rel="stylesheet" type="text/css" href="{% static 'css/mm.css' %}">

<body>
<div class="container">
  <video  class="center"  src="https://frdfarm.co.za/_Webmoduledata/Videos/Converted/production%20ID_4911913.mp4"  autoplay loop muted style = "height:200px;">

  </video>
</div>
<div class = "abt">
       <ul>
        <h5>Dolly and Sabby Poultry Farming Equipment is a large-scale production and
           sales company specializing in the sales of poultry breeding equipment.
           Founded in South Africa in 2022, the company specializes in serving farmers all over South Africa. </h5>

        <br>
        <h5>Improving lives through increases in income, improved nutrition through diverse diets, training and education, health and hygiene. Through the implementation of the African Poultry Multiplication Initiative
          Our mission is to be a catalyst for improving lives globally through the sustainable production of poultry by empowering farmers in developing regions.
        </h5>
       </ul>
</div>

</body>
{% endblock content %}
